<!DOCTYPE html><html>
    <script>
        function updatenumberForm() {
          // Get the form element
          var form = document.getElementById('updatenumber');
          
          // Submit the form
          form.submit();
        }
        function updateemailForm() {
          // Get the form element
          var form = document.getElementById('updateemail');
          
          // Submit the form
          form.submit();
        }
        function updatepasswordForm() {
          // Get the form element
          var form = document.getElementById('updatepassword');
          
          // Submit the form
          form.submit();
        }
      </script>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
        <link href="/static/info.css" rel="stylesheet" />
        <title>Document</title>
    </head>
    <style>
    a {
        text-decoration: none;
      }
      
      /* Add this style to remove the box outline for input fields */
      input {
        border: none;
        outline: none;
      }
      
      /* Add this style to position the placeholder text within the input fields */
      .input-wrapper {
        position: relative;
      }
      
      .input-wrapper input:focus::placeholder {
        opacity: 0;
      }
      
      .input-wrapper input::placeholder {
        opacity: 1;
        transition: opacity 0.2s ease;
      }
    </style>
    <body>
        <div class="v48_36">
            <a href="/home1" class="v48_37">HOMELY</a>
            <div class="v48_38"></div>
            <div class="v48_123">
                <div class="v48_124">
                    <div class="v48_125"></div>
                    <div class="v48_126"></div>
                </div>
            </div>
            <div class="v112_6">
                <div class="v112_7">

                </div>
                <a href="/info" class="v112_8">Account Information</a>
            </div>
            <div class="v112_17">
                <div class="v112_18"></div>
                <div class="v112_19"></div>
                <a href="/wishlist" class="v112_20">Wishlist</a>
            </div>
            <div class="v124_88">
                <div class="v124_89"></div>
                <div class="v124_90"></div>
                <a href="/listings" class="v124_91">Listings</a>
            </div>
            <div class="v112_21">
                <div class="v112_22"></div>
                <div class="v112_23"></div>
                <a href="/logoutuser" class="v112_24">LOGOUT</a>
            </div>
            <div class="v112_33">
                <div class="v112_34"></div>
                <span class="v112_35">{{ first_name }}</span>
            </div>
            <div class="v112_37">
                <div class="v112_38"></div>
                <span class="v112_39">{{ phone_number }}</span>
            </div>
            <div class="v112_28">
                <div class="v112_29"></div>
                <div class="v112_36"></div>
                <span class="v112_30">{{ last_name }}</span>
            </div>
            <div class="v112_40">
                <div class="v112_41"></div>
                <div class="v112_42"></div>
                <span class="v112_43">{{ email }}</span>
            </div>
            
            <span class="v112_31">Personal Details</span>
            <span class="v112_32">Contact Information</span>
            <form id="updatenumber" method="POST" action="/updatenumber/">
                {% csrf_token %}
            <div class="v112_92">
                <div class="v112_88">
                  <div class="v112_89"></div>
                  <a href="javascript:void(0)" onclick="updatenumberForm()" class="v112_91">Update</a>
                </div>
                <div class="v112_71">
                  <div class="v112_72"></div>
                  <input type="text" class="v112_73" name="new_phone_number" placeholder="New Phone Number" required>
                </div>
                
            
                <div class="v112_77">
                  <div class="v112_78"></div>
                  <input type="text" class="v112_80"name="confirm_phone_number" placeholder="Confirm Phone Number" required>
                </div>
                <span class="v112_85">Update Phone Number</span>
              </div>
              <button type="submit" style="display: none;"></button>
            </form>
            <form id="updateemail" method="POST" action="/updateemail/">
                {% csrf_token %}
              <div class="v112_93">
                <div class="v112_94">
                  <div class="v112_95"></div>
                  <div class="v112_96"></div>
                  <a href="javascript:void(0)" onclick="updateemailForm()" class="v112_97">Update</a>
                </div>
                <div class="v112_98">
                  <div class="v112_99"></div>
                  <input type="email" class="v112_100" name="new_email_address" placeholder="New Email Address" required>
                </div>
                <div class="v112_101">
                  <div class="v112_102"></div>
                  <div class="v112_103"></div>
                  <input type="email" class="v112_104" name="confirm_email_address" placeholder="Confirm Email Address" required>
                </div>
                <span class="v112_105">Update Email Address</span>
              </div>
              <button type="submit" style="display: none;"></button>
            </form>
            <form id="updatepassword" method="POST" action="/updatepassword/">
                {% csrf_token %}
              <div class="v112_133">
                <div class="v112_134">
                  <div class="v112_135"></div>
                  <div class="v112_136"></div>
                  <a href="javascript:void(0)" onclick="updatepasswordForm()" class="v112_137">Update</a>
                </div>
                <div class="v112_138">
                  <div class="v112_139"></div>
                  <input type="password" class="v112_140" name="new_password" placeholder="New Password" required>
                </div>
                <div class="v112_141">
                  <div class="v112_142"></div>
                  <div class="v112_143"></div>
                  <input type="password" class="v112_144" name="confirm_password" placeholder="Confirm Password" required>
                </div>
                <button type="submit" style="display: none;"></button>
            </form>
                <span class="v112_145">Update Password</span>
              </div>
              </body>
              </html>
              