<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
  <link href="/static/usertag.css" rel="stylesheet" />
  <title>Document</title>
</head>
<body>
  <div class="v48_192">
    <span class="v48_195">BLOG</span>
    <span class="v48_196">ABOUT US</span>
    <span class="v48_197">HOMELY</span>
    <div class="v48_198"></div>
    <span class="v48_199">SELL</span>
    <span class="v48_200">We provide a complete service for the sale, purchase and rental of a property</span>
    <div class="v48_201"></div>
    <span class="v48_202">Easy way to find the perfect property</span>
    <div class="v48_203"></div>
    <span class="v48_204">BUY</span>
    <div class="v48_205"></div>
    <span class="v48_206">Enter your location</span>
    <div class="v48_222">
      <div class="v48_223">
        <div class="v48_224"></div>
        <div class="v48_225"></div>
      </div>
    </div>
  </div>
</body>
</html>
