* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}

.v135_3 {
  width: 137px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 37px;
  left: 58px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}

.v135_5 {
  width: 69px;
  height: 69px;
  background: url("../images/v135_5.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 1268px;
  overflow: hidden;
}
.v135_6 {
  width: 69px;
  height: 69px;
  background: url("../images/v135_6.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v135_7 {
  width: 69px;
  height: 69px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v135_8 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 22px;
}
.v135_9 {
  width: 287px;
  height: 57px;
  background: url("../images/v135_9.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 152px;
  left: 104px;
  overflow: hidden;
}
.v135_10 {
  width: 287px;
  height: 57px;
  background: rgba(43,103,119,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v135_11 {
  width: 222px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 17px;
  left: 33px;
  font-family: Inter;
  font-weight: Light;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v135_12 {
  width: 287px;
  height: 57px;
  background: url("../images/v135_12.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 152px;
  left: 736px;
  overflow: hidden;
}
.v135_13 {
  width: 287px;
  height: 57px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v135_14 {
  width: 287px;
  height: 57px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v135_15 {
  width: 222px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 33px;
  font-family: Inter;
  font-weight: Light;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v135_16 {
  width: 287px;
  height: 57px;
  background: url("../images/v135_16.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 152px;
  left: 420px;
  overflow: hidden;
}
.v135_17 {
  width: 287px;
  height: 57px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v135_18 {
  width: 287px;
  height: 57px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v135_19 {
  width: 222px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 33px;
  font-family: Inter;
  font-weight: Light;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v135_20 {
  width: 287px;
  height: 57px;
  background: url("../images/v135_20.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 152px;
  left: 1052px;
  overflow: hidden;
}
.v135_21 {
  width: 287px;
  height: 57px;
  background: rgba(200,216,228,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v135_22 {
  width: 287px;
  height: 57px;
  background: rgba(240,82,82,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v135_23 {
  width: 222px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 33px;
  font-family: Inter;
  font-weight: Light;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
